

.projects__card {
grid-template-columns: repeat(2,1fr);
align-items: center;
justify-content: center;

  background-color: var(--body-color);
  

  padding: 1.5rem 2rem;
  margin-bottom: var(--mb-3);
  text-align: center;
  transition: 0.3s;
}
.projects__img {
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
/* Hover img */
.projects__img:hover {
  transform: scale(1.1);
}

.projects__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-meduim);
  margin-bottom: var(--mb-0-25);
  color: var(--title-color);
  text-align: center;
  padding-bottom: 1.5rem;
}

.project__data{
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
.project__tech{
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
.project__tech__icon{
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
}

.projects_social-icon {
  font-size: 1.8rem;
  color: var(--title-color);
  margin: var(--mb-1);
  transition: 0.3s;
}
.projects_social-icon:hover {
  transform: scale(2);
  color: var(--title-color-dark);
}

.projects__description {
  font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

/* ======== BREAKPOINTS======== */

/* Large device */
@media screen and (max-width: 992px) {
  .projects__container {
    width: initial !important;
  }
  .projects__img {
    width: 100% !important;
    height: 200px !important;
  }
  .projects__card {
    grid-template-columns: 1fr;
    padding: 1.25rem 1.5rem !important;
  }
}