.skills__container{
    display: grid;
    justify-content: center;
    align-items: center;
   

   
}

.skills__content{
   
  
  
}

.skills__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-2-5);
    
}

.skills__box{
   
    
}

.skills__group{
   
display: flex;
justify-content: center;
align-items: center;
column-gap: 2.5rem; 
   
    
    
}

.skills__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
 
  


}



.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    
}
.skills__logo {
    font-size: 40px;
    padding-bottom: 1rem;
  }

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
   .skills__container{
    
   }
   .skills__group{
    flex-direction: column;
    
   }
   
  }
  
  /* For medium devices */

  
  @media screen and (max-width: 576px) {
    .skills__container{
        
    }
    .skills__content{
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
 .skills__box{
 }
  
  .skills__name{
    font-size: var(--small-font-size);
  }
}